.auth_container{
    display: flex;
    justify-content: center;
    z-index: 0;
}

.sign_up_container{
    width: 35%;
    margin-top: 10%;
    border-radius: 15px;
    background-color: #3939395d;
    opacity: .8;
    z-index: 1;
}
.sign_up_title_container{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.sign_up_title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(246, 246, 246);
    z-index: 10;
}
.sign_up_form{
    margin: 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.field{
    margin: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_lable{
    width: 90px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-right: 20px;
    text-align: center;
    
}
.user_input{
    width: 60%;
    height: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
}

.sign_up_btn{
    width: 110px;
    height: 35px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}
.sign_up_btn:hover{
    background-color: rgb(193, 189, 189);

}
.log_in_field{
    color: white;
}